.separation {
  display: flex;
  width: 72px;
  height: 26px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.separation__image_size_big {
  width: 12px;
  height: 12px;
}

.separation__image_size_small {
  width: 6px;
  height: 6px;
}