.team {}

.team__title {
  font-family: 'Montserrat';
  width: 1263px;
  height: 96px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  margin: 118px auto 40px;
}

.team__titleText {
  margin: auto;
}

.team__subtitle {
  width: 1590px;
  height: 31px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  margin: 0 auto;
}

.team__subtitleText {
  margin: auto;
}

.team__cards {
  display: flex;
  margin: 80px 200px 0;
  justify-content: space-evenly;
  position: relative;
}

.team__cards {
  display: flex;
  margin: 80px 200px 80px;
  justify-content: space-evenly;
  position: relative;
}

.team__cards::before {
  position: absolute;
  content: '';
  width: 70px;
  height: 70px;
  border-radius: 300px;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.05);
  border: 1px solid #E5E5E5;
  background-image: url('../../images/arrow-left.svg');
  background-repeat: no-repeat;
  background-position: center;
  left: -35px;
  top: 50%;
  transform: translateY(-50%);
}


.team__cards::before {
  position: absolute;
  content: '';
  width: 70px;
  height: 70px;
  border-radius: 300px;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.05);
  border: 1px solid #E5E5E5;
  background-image: url('../../images/arrow-left.svg');
  background-repeat: no-repeat;
  background-position: center;
  left: -35px;
  top: 50%;
  transform: translateY(-50%);
}

.team__cards::after {
  position: absolute;
  content: '';
  width: 70px;
  height: 70px;
  border-radius: 300px;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.05);
  border: 1px solid #E5E5E5;
  background-image: url('../../images/arrow-left.svg');
  background-repeat: no-repeat;
  background-position: center;
  right: -35px;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 356px;
  height: 581px;
}

.card__image {
  width: 223px;
  height: 223px;
  border-radius: 1000px;
}

.card__name {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  margin: 40px auto 16px;
}

.card__description {
  width: 328px;
  height: 66px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: #000000;
  margin: 0 auto 34px;
}

.card__jobs {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.card__jobs-text {
  margin: 0;
  width: 294px;
  height: 19px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #000000;
}

.card__jobs-image {
  margin-right: 10px;
}

.card__cloud {
  position: relative;
}

.card__cloud-svg {
  width: 100%;
  height: auto;
}

.card__cloud-text {
  width: 264px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  margin: 0;
}